numpy
pandas
scikit-learn
matplotlib
tqdm
torch
transformers
datasets
sentence-transformers
langchain
langchain-core
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb
natasha
openai
py7zr
